<div class="jumbotron">
	<div class="container">
		<h1>NoobSee</h1>
      <h3>{{ message }}</h3>
		<p>Welcome to NoobSee. The best free programming courses made by others but compiled here to save you the agony I had when I was learning.</p>
      <p>I spent days searching the web to find courses where the info was able to sink in. I've compiled those "good" videos in courses to prevent you from having to weed through the bad videos out there. This is my way of giving back to the open source community. So thank you to all that contribute.</p>
		<p>
			<a class="btn btn-primary btn-lg">Sign up</a>
		</p>
	</div>
</div>